<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		<!--Product components-->
		<ComponentGroup Id="ProductComponents">
			<ComponentRef Id="MainAppShortCut"/>
		</ComponentGroup>

		<!--Install location-->
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\BletchleyMaker\bin\Debug\net8.0-windows\win-$(var.Platform)\publish\">

			<!-- Shortcut to main app -->
			<Component Id="MainAppShortCut" Guid="{26667662-178F-4B89-B003-4DD86F5BF57D}">

				<Shortcut Id="MainAppShortcut"
					Name="BletchleyMaker"
					Target="[INSTALLFOLDER]BletchleyMaker.exe"
					Directory="ProgramMenuFolder"
					WorkingDirectory="INSTALLFOLDER"
					Icon="icon.ico"
				/>

				<!-- Desktop Shortcut -->
				<Shortcut Id="MainAppShortcut_Desktop"
					Name="BletchleyMaker"
					Target="[INSTALLFOLDER]BletchleyMaker.exe"
					Directory="DesktopFolder"
					WorkingDirectory="INSTALLFOLDER"
					Icon="icon.ico" />
				
				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes"/>

				<RemoveFolder Id="RemoveStartMenu" Directory="ProgramMenuFolder" On="uninstall"/>
			</Component>
		</DirectoryRef>
		
	</Fragment>
	
</Wix>