<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Start Menu-->
			<Directory Id="ProgramMenuFolder" Name="!(loc.ProductNameFolder)"/>
			<Directory Id="DesktopFolder" Name="Desktop"/>
			
			<?if $(var.Platform)=x64?>
				<!-- Program Files Folder (64 bit) -->
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
				</Directory>
			<?else?>
				<!-- Program Files Folder (32 bit) -->
				<Directory Id="ProgramFilesFolder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
				</Directory>
			<?endif?>
			
			
		</Directory>
	</Fragment>
	
</Wix>