<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Give product unique guid -->
	<?if $(var.Platform)=x64?>
	<?define ProductCode="{2B8CD198-70DA-49BC-BEFB-F17F4EADFCAA}"?>
	<?else?>
	<?define ProductCode="{340C6590-BEE0-4532-9C66-9AAC5F08AA12}"?>
	<?endif?>

	<?define UpgradeCode = "{FE82C93F-E10C-4012-A434-642A23D56F8D}"?>

	<!-- Define the product -->
	<Product Id="$(var.ProductCode)"
			 Name="!(loc.ProductName_$(var.Platform))"
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)"
			 Manufacturer="!(loc.Company)"
			 UpgradeCode="$(var.UpgradeCode)">

		<!-- Provice package details -->
		<Package InstallerVersion="200"
				Compressed="yes"
				InstallScope="perMachine"
				Platform="$(var.Platform)"
				Manufacturer="!(loc.Company)"
				Description="!(loc.Description"
				Keywords="!(loc.Keywords)"
				Comments="!(loc.Comments)"
				Languages="!(loc.Language)"
				/>

		<!-- Downgrade message -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeMessage)" />
		<!-- Include cab file -->
		<MediaTemplate
			EmbedCab="yes"
			/>

		<!-- Use icon.ico icon for program-->
		<Icon Id="icon.ico" SourceFile="$(var.BletchleyMaker.ProjectDir)\magnify.ico"/>
		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		<Property Id="ARPURLINFOABOUT">https://github.com/shr0m/BletchleyMaker?tab=readme-ov-file#support</Property>

		<!-- Basic UI -->
		<UIRef Id="WixUI_Minimal" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\LICENSE.rtf" />

		
		<Feature Id="ProductFeature" Title="BletchleyMaker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents"/>
		</Feature>

	</Product>
</Wix>
